*{margin: 0; padding: 0;}
            a{text-decoration: none; color: #333;}
            ul,ol,li{list-style: none;}

            /* 반응형적용 common.css */
            #wrap{width: 100%;}
            @media(max-width:599px){
                #wrap{width: 100%; margin: 0 auto;}
            }
            @media(max-width:600px){
                #wrap{width: 100%; margin: 0 auto;}
            }
            @media(min-width:1000px){
                #wrap{width: 100%; margin: 0 auto;}
            }
            
            /* 헤더 */
            header{width: 100%;height: 120px; display: flex; justify-content: space-between; background-color: aqua;}
            header div:nth-of-type(1){width: 250px; height: 120px; }
            header div:nth-of-type(3){width: 250px; height: 120px; margin-left: 100px;}
            header .list{ width: calc(100% - 500px); border: 2px solid blue; border-radius: 100px;}
            header .list ul{height: 100%; display: flex; align-items: center;}
            header .list ul li{padding: 0 10px;}
            header img{height: 100%;}
            
            
            /* 슬라이더 */
            #slider{clear: both; width: 100%; height:930px; position: relative; background-repeat: no-repeat;  background-image:url('../img/backgroundimg.jpg'); background-size: 110%; }
            #slider div:nth-of-type(1){background-color: blue; float: right; margin:100px 250px;}
     
            .animation:nth-of-type(2){width: 100%; height: 280px; position: absolute; left: 0; bottom: 200px; transform: skewY(-5deg); background-color: aquamarine;}
            .animation:nth-of-type(3){width: 100%; height: 260px; position: absolute; left: 0; bottom: -60px; transform: skewY(-5deg);  background-color: rgb(127, 255, 155);}
 
            /* 밴드 */
            .band{width:100%; height:110px; margin-bottom: 50px; position: relative; top: -10px; background-color: blue;}
            #flowtext{width: 100%; height: 100px; transform: skewY(-5deg); background-color: blueviolet;}
            

            /* -------------------- 메인 페이지 시작 --------------------*/
            /* 게임소개 이미지 */
            .introduceimage{width: 100%; height: 500px; display: flex; justify-content:center; align-items: center;}
            .introduceimage div{width: 650px; height: 420px; margin: 5px; background-color: goldenrod; overflow: hidden; text-align: center;}
            .introduceimage div:nth-of-type(2){line-height: 20px; display: flex; align-items: center;}
            .introduceimage img{width: 100%;}
            #flowtext2{width: 100%; height: 100px;  background-color: red;}

            /* 플레잉비디오 */
            .playingvideo{width: 100%; height: 650px; margin: 0 auto; background-color: aqua;
            display: flex; justify-content: center;}
            .playingvideo video {width: 100%;}
            
            /* 케릭터정보 */
            .character{width: 100%; height: 500px; margin: 0 auto; display: flex; justify-content:center; align-items: center;}
            .character div{width: 650px; height: 420px; margin: 5px;display:flex; justify-content: center; align-items: center; background-color: gold;}

            /* 스크린샷  */
            .screenshot{width:100%; height:450px; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
            .screenshot a{width:415px; height: 340px; margin: 10px; justify-content: center; align-items: center; text-align: center; background-color: aqua;}
            .screenshot div{width: 100%; height: 60%; background-color: red; }
            .screenshot article{width: 100%;}
            .screenshot img{width: 100%;}

            /* 푸터 */
            footer{width: 100%; height:700px; background-color: wheat; display: flex; flex-direction: column; align-items: center;}
            .footerone{height:500px; text-align: center;  display: flex;  flex-direction: column; justify-content: center;}
            .footertwo{width:500px; height:150px; display: flex; justify-content: center; flex-wrap: wrap;background-color: red;}
           
            .logo img{width:300px; height: 200px;}
            